/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body {
  background: rgb(198, 227, 252);
  color: rgb(3, 35, 89);
}
.wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
h1 {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  margin: 20px auto;
}

h2 { 
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 80px auto 20px auto;}

p {
  font-size: 18px;
  margin: 10px;
  text-align: center;
}
img {
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.foto-1 {
  display: inline-flex;
 }

 .foto-1 img:first-child {
  max-width: 40%;
  margin:10px  10px 10px auto; 

 }
 .foto-1 img:last-child {
  max-width: 40%;
  margin:10px auto 10px 10px; 
 }

ul {
  padding-left: 50px;
  font-size: 18px;
}
li {
  padding: 5px;
}
.lipa,
.grab,
.klon,
.dab,
.brzoza {
  margin: auto 10px 20px 10px;
  position: relative;
  max-width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(1,1fr) / repeat(3,1fr);
}
img {
  width: 100%;
  
}
.klony {
  margin: 30px;
  font-size: 20px;
  font-weight: 600;
}

.klon-2 {
  grid-template: repeat(1,1fr) / repeat(2,1fr);
}

.brzoza {
padding-bottom: 60px;
}