body {
  background: rgb(243, 203, 238);
  font-family:'Courier New', Courier, monospace;
    color: rgb(33, 5, 60);
    text-shadow: 1px 1px 5px rgb(199, 156, 239);;
}
.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin: 60px auto 30px auto;
  font-size: 38px;
}

h2 {
  font-size: 32px;
} 

li {
  padding: 10px;
  font-size: 26px;
  font-weight: 600;
  font-family:'Times New Roman', Times, serif;
}
a {
  font-size: 26px;
  font-weight: 600;
  font-family:'Times New Roman', Times, serif;
  color: rgb(69, 17, 118);
  text-decoration: none;
}